# Importar librerias.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('DatosSeguros.csv')
df

      edad sexo    imc  hijos fumador        region  valor_seguro
0       19    F  27.90      0     yes        Caribe    16884.9240
1       19    F  27.90      0     yes        Caribe    16884.9240
2       19    F  27.90      0     yes        Caribe    16884.9240
3       18    M  33.77      1      no  Cundinamarca     1725.5523
4       28    M  33.00      3      no  Cundinamarca     4449.4620
...    ...  ...    ...    ...     ...           ...           ...
1344    18    F  36.85      0      no  Cundinamarca     1629.8335
1345    19    F  27.90      0     yes        Caribe    16884.9240
1346    21    F  25.80      0      no        Caribe     2007.9450
1347    61    F  29.07      0     yes     Antioquia    29141.3603
1348    19    F  27.90      0     yes        Caribe    16884.9240

[1349 rows x 7 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1349 non-null   int64
 1   sexo          1349 non-null   object
 2   imc           1347 non-null   float64
 3   hijos         1349 non-null   int64
 4   fumador       1347 non-null   object
 5   region        1349 non-null   object
 6   valor_seguro  1349 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.9+ KB

In [6]:
df.isnull().sum()

edad            0
sexo            0
imc             2
hijos           0
fumador         2
region          0
valor_seguro    0
dtype: int64

In [8]:
df = df.dropna()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1345 entries, 0 to 1348
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1345 non-null   int64
 1   sexo          1345 non-null   object
 2   imc           1345 non-null   float64
 3   hijos         1345 non-null   int64
 4   fumador       1345 non-null   object
 5   region        1345 non-null   object
 6   valor_seguro  1345 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 84.1+ KB

In [10]:
df = df.drop_duplicates()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1333 entries, 0 to 1347
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1333 non-null   int64
 1   sexo          1333 non-null   object
 2   imc           1333 non-null   float64
 3   hijos         1333 non-null   int64
 4   fumador       1333 non-null   object
 5   region        1333 non-null   object
 6   valor_seguro  1333 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.3+ KB

In [12]:
df.describe()

              edad          imc        hijos  valor_seguro
count  1333.000000  1333.000000  1333.000000   1333.000000
mean     39.195049    30.652097     1.092273  13261.908454
std      14.052008     6.097609     1.205484  12093.507648
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.220000     0.000000   4738.268200
50%      39.000000    30.360000     1.000000   9377.904700
75%      51.000000    34.675000     2.000000  16657.717450
max      64.000000    53.130000     5.000000  63770.428010